body {
    font-family: 'Roboto Mono',monospace;
    min-height: 500px;
    background-image: url('https://caelum-online-public.s3.amazonaws.com/imersao-dev-3/bg.png');
    background-color: #000000;
    background-size: 80vh;
    background-position: center bottom;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    display: block;
  }

  .onepunchman {
    text-align: center;
    padding: 20px;
    height: 24vh;
  }
  
  .page-title {
    color: green;
    margin: 0 0 5px;
    height: 80vh;
    display: inline;
  }
  
  .page-subtitle {
    color:#ffffff;
    margin-top: 5px;
  }
  
  .page-info {
    color: red;
    text-align: center;
    height: 100vh;
  }
  
  .page-logo {
    width: 200px;
  }
  
  .alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
  }